# Tuplas

In [54]:
nombres = ["Ana", "Luis", "Javier"]
edades = [18, 22, 33]
dnis = [1, 2, 3]

print(nombres[0], edades[0], dnis[0])

Ana 18 1

El siguiente código no es una buena recomendación, ya que las listas son mutables y dinámicas, pueden crecer...

In [55]:
personas = [["Ana", 18, 1],
            ["Luis", 22, 2],
            ["Javier", 33, 3]
           ]
persona = personas[0]
print(persona)
print(persona[0])

['Ana', 18, 1]
Ana

In [59]:
lista = []
lista.append(1)
lista

[1]

Para estos casos, mejor utilizar las tuplas:

In [6]:
personas = [("Ana", 18, 1),
            ("Luis", 22, 2),
            ("Javier", 33, 3)
           ]

tupla = personas[0]
print(type(tupla))
print(tupla)
print(tupla[0])

<class 'tuple'>
('Ana', 18, 1)
Ana

In [11]:
nombre, edad, dni = tupla

In [12]:
nombre

'Ana'

In [13]:
edad

18

In [14]:
dni

1

El mejor caso de uso:

In [15]:
coordenadas = (12, 34, 1)
x, y, z = coordenadas
x

12

In [57]:
coordenadas.count(12)

1

In [58]:
coordenadas.index(12)

0

# Diccionarios

In [41]:
coches = dict()
coches = {}

In [42]:
coches = {"Luis": "Seat",
          "Ana": "VW"}

In [43]:
coches

{'Luis': 'Seat', 'Ana': 'VW'}

Luis cambia de coche

In [44]:
coches["Luis"] = "BMW"

Lucía se compra un coche nuevo, no existía en el dict

In [46]:
coches["Lucia"] = "Mini"

In [47]:
coches

{'Luis': 'BMW', 'Ana': 'VW', 'Lucia': 'Mini'}

In [37]:
nombre = input("Nombre:")
coches[nombre]

Nombre:Luis

'Seat'

In [60]:
notas = {"Luis": [1,2, 3,5],
          "Ana": [10, 8, 9, 10]}

In [61]:
notas_luis = notas["Luis"]

In [62]:
notas_luis[3]

5

In [63]:
notas["Ana"]

[10, 8, 9, 10]

## Conjuntos

In [68]:
conjunto1 = {1, 2, 3}
conjunto2 = {3, 4, 5}

In [70]:
type(conjunto1)

set

In [74]:
conjunto1.union(conjunto2)

{1, 2, 3, 4, 5}

In [73]:
conjunto1.intersection(conjunto2)

{3}