In [3]:
lista = []
lista = list()

nombre = ""
nombre = str()

In [1]:
personas = {}
personas = dict()
personas = {k:v, k:v}

In [2]:
type(personas)

dict

In [4]:
personas["Luis"] = 22

In [5]:
personas["Luis"] = "Ciudad Real"

In [6]:
personas["Luis"] = ("Ciudad Real", 22)

In [30]:
personas["Luis"] = ["Ciudad Real", "Madrid", "Barcelona"]
personas["Ana"] = ["NYC", "Paris", "Londres"]

In [31]:
nombre = input("Nombre: ")
if nombre in personas:
    print(personas[nombre])
else:
    print(f"{nombre} no está en el dict")

Nombre: Ana
['NYC', 'Paris', 'Londres']

In [ ]:
for x in personas.keys():
    print(x)

In [35]:
for x in personas.values():
    print(x)

['Ciudad Real', 'Madrid', 'Barcelona']
['NYC', 'Paris', 'Londres']

In [39]:
for nombre, ciudades in personas.items():
    print(f"{nombre} -ha vistado-> {ciudades}")

Luis -ha vistado-> ['Ciudad Real', 'Madrid', 'Barcelona']
Ana -ha vistado-> ['NYC', 'Paris', 'Londres']

In [44]:
for nombre in personas.keys():
    print(nombre, "...>", personas[nombre])

Luis ...> ['Ciudad Real', 'Madrid', 'Barcelona']
Ana ...> ['NYC', 'Paris', 'Londres']

In [23]:
try:
    print(personas["Manuel"])
except KeyError as error:
    print("Manuel no está en el dict")

Manuel no está en el dict

In [16]:
ciudades = personas["Luis"]

In [18]:
ciudad = ciudades[1]

In [19]:
ciudad.upper()

'MADRID'

In [40]:
x, y = (12, 34)

In [41]:
x

12

In [42]:
y

34

In [47]:
personas_dict = {"Luis": 22, "Ana": 23}
personas_dict["Ana"]

23

In [48]:
personas_listas = [("Luis", 22), ("Ana", 23)]
for persona in personas_listas:
    #nombre, edad = persona
    nombre = persona[0]
    if nombre == "Ana":
        edad = persona[1]
        print(edad)

23