In [29]:
cadena = "abcd"

In [21]:
cadena[2] = "x"

TypeError: 'str' object does not support item assignment

In [36]:
cadena + "x"

'abcdx'

In [37]:
cadena

'abcd'

In [28]:
cadena = "abcd"
cadena = cadena[0:2] + "x" + cadena[2:]
cadena

'abxcd'

In [62]:
POSICION = 10
cadena = "dsadsadasda"
new_caracter = "X"
new_cadena = ""

index = 0
while index < len(cadena):
    if index == POSICION:  #HARDCODE
        new_cadena += new_caracter
    new_cadena += cadena[index]
    index += 1
    
print(new_cadena)

dsadsadasdXa

In [16]:
cadena = ""
for i in range(10):
    cadena += str(i)
    
cadena

'0123456789'

In [18]:
lista = []
for i in range(10):
    lista.append(i)
    
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
cadena = "hola"
cadena = "adios"

In [41]:
lista = [1, 2, 3]
lista

[1, 2, 3]

In [6]:
lista[1] = 99

In [7]:
lista[1]

99

In [44]:
lista1 = [1, 2, 3]
lista1.append(4)
lista1

[1, 2, 3, 4]

In [45]:
lista2 = ["A", "B"]

In [48]:
lista_final = lista1 + lista2
lista_final

[1, 2, 3, 4, 'A', 'B']

In [49]:
print(lista1 + lista2)

[1, 2, 3, 4, 'A', 'B']

In [50]:
a = lista1 + lista2
print(a)

[1, 2, 3, 4, 'A', 'B']

In [51]:
lista1

[1, 2, 3, 4]

In [53]:
lista1.append("X")

In [54]:
lista1

[1, 2, 3, 4, 'X']

In [55]:
lista2

['A', 'B']

In [56]:
lista1.append(lista2)

In [57]:
lista1

[1, 2, 3, 4, 'X', ['A', 'B']]

In [58]:
lista = []
lista.append([1, 2])
lista.append([11, 22])
lista.append([111, 222])
lista.append([1111, 2222])
lista

[[1, 2], [11, 22], [111, 222], [1111, 2222]]

In [59]:
lista = []
lista.extend([1, 2])
lista.extend([11, 22])
lista.extend([111, 222])
lista.extend([1111, 2222])
lista

[1, 2, 11, 22, 111, 222, 1111, 2222]

In [64]:
alumnos = []
alumnos.append(["Luis", 22])
alumnos.append(["Miguel", 19])
alumnos.append(["Ana", 18])
alumnos.append(["Pilar", 22])

In [65]:
alumnos

[['Luis', 22], ['Miguel', 19], ['Ana', 18], ['Pilar', 22]]

In [66]:
alumnos[0]

['Luis', 22]

In [79]:
pp = alumnos

In [80]:
pp

[['Luis', 22], ['Miguel', 19], ['Ana', 18], ['Pilar', 22]]

In [82]:
pp = [1,2,3]

In [84]:
pp = alumnos

In [94]:
alumnos = [
            ['Luis', [5, 5, 5]], 
            ['Miguel', [1, 2, 3]], 
            ['Ana', [5, 8, 9]], 
            ['Pilar', [10, 10, 10]]
          ]

In [114]:
for alumno in alumnos:
    nombre = alumno[0]
    notas = alumno[1]
    suma = 0
    for nota in notas:
        suma += nota
    media = suma / len(notas)
    print(nombre, media)

Luis 5.0
Miguel 2.0
Ana 7.333333333333333
Pilar 10.0

In [113]:
lista = ["a", 2, True]
x = ""
for x in lista:
    print(x)

a
2
True

In [74]:
alumno = alumnos[1]
alumno[1]

19

In [73]:
alumnos[1][1]

19

# Built-in function

In [123]:
new_lista = sorted(lista)
new_lista

[1, 3, 4, 6]

In [125]:
sorted("aijsa")

['a', 'a', 'i', 'j', 's']

In [122]:
lista = [6, 3, 4, 1]
lista.sort()
lista

[1, 3, 4, 6]

In [127]:
reversed(lista)
lista.reverse()
print(lista)

[6, 4, 3, 1]

In [129]:
list(reversed("4531"))

['1', '3', '5', '4']